* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:hover,
*:focus,
* {
  outline: none !important ;
}
Link,
a,
a:hover {
  text-decoration: none !important;
  color: initial !important;
}
Button :focus,
Button:hover {
  outline: none !important;
  border: none !important;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
